<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  	<script th:src="@{/js/jquery-3.2.1.js}"></script>
  	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<div class="container">
	
		<div class="col-md-9">
			<h2>An Error Has Occured</h2>
		</div>
		
	</div>
</body>
</html>